* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    /* width: 100vw; */
    /* height: 100vh; */
}

#myCanvas {
    display: block;
    background-color: white;
    /* overflow: hidden; inutil */
}