@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(211, 211, 211, 0.4);

    --menu-prcent: 21%;
    display: grid;
    grid-template-rows: var(--menu-prcent) calc(100% - var(--menu-prcent));
    grid-template-areas: 
    'mn'
    'palco';
    overflow: hidden;
}

.container .menu {
    width: 100vw;
    padding: 10px 5px;
    border: 5px solid darkred;

    display: grid;
    gap: 4px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    align-content: center;

    grid-area: mn;
}

.menu .item {
    flex-grow: 1;
    background-color: white;
    border: 3px solid grey;
    border-radius: 5px;
    padding: 10px;
    gap: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#numero-objetos, #iqtd-objetos {
    width: 170px;
    height: 28px;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container .palco {
    grid-area: palco;
    position: relative;
}


.ball {
    position: absolute;
}