@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    --controls-percent: 10%;
    grid-template-rows: var(--controls-percent) calc(100% - var(--controls-percent));
}

.controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    width: 100%;
    /* height: 50px; conflita com a % do grid */ 
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.8);
    border-bottom: 1px solid black;
}

.controls button {
    width: 100px;
    padding: 5px;
}

.palco {
    overflow: hidden;
}

.box {
    background-color: red;
}